.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.loading {
	position: relative;
	padding: 15px 18px;
	box-sizing: border-box;
	overflow: hidden;
}
.loading span {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 15px;
	animation: loading 1s linear infinite;
}
.loading span:nth-child(1) {
	background-color: firebrick;
	animation-delay: 0s;	
}
.loading span:nth-child(2) {
	background-color: orangered;
	animation-delay: .1s;	
}
.loading span:nth-child(3) {
	background-color: gold;
	animation-delay: .2s;	
}
.loading span:nth-child(4) {
	background-color: navy;
	animation-delay: .3s;	
}
.loading span:nth-child(5) {
	background-color: black;
	animation-delay: .4s;	
	margin-right: 0;
}
.loading .fa {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 3.5rem;
	color: gray;
	transform: rotate(45deg);
	animation: ltor 1.2s linear infinite;
}

/* Animation */
@keyframes loading {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
		transform: scale(1.1);
	}
	50% {
		transform: scale(0.6);
	}
	100% {
		transform: scale(0.9);
	}
}
@keyframes ltor {
	0% {
		left: -15px;
	}	
	100% {
		left: calc(100% - 15px);
	}
}