body {
	background-color: rgba(51, 51, 51, 0.87);
	font-family: 'Merriweather', sans-serif;
}
a {
	text-decoration: none;
	color: #fff;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.square {
	position: relative;
	margin-right: 50px;
	width: 400px;
	height: 400px;
}
.square span {
	position: absolute;
	width: inherit;
	height: inherit;
	border: 1px solid #000;
	border-radius: 49% 51% 53% 47% / 63% 69% 31% 37%;
}
.square span:nth-child(1) {
	animation: circle 6s linear infinite;
}
.square span:nth-child(2) {
	animation: circle 4s linear infinite;
	animation-direction: reverse;
}
.square span:nth-child(3) {
	animation: circle 10s linear infinite;    
}
.square:hover span {
	background-color: crimson;
	border: none;
}
.square:hover span:nth-child(1) {
	opacity: 0.3;
}
.square:hover span:nth-child(2) {
	opacity: 0.6;
}
.square:hover span:nth-child(3) {
	opacity: 0.8;
}
.square:nth-child(2):hover span {
	background-color: cornflowerblue;
}
.square:nth-child(3):hover span {
	background-color: darkcyan;
}
.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	text-align: center;
	color: #fff;
}
.content h2 {
	margin: 0;
	font-size: 25px;
}
.content a {
	display: inline-block;
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 49% 51% 53% 47% / 63% 69% 31% 37%;
}
.content p {
	letter-spacing: .5px;
	line-height: 25px;
	font-weight: 200;
}

/* Animation */
@keyframes circle {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}